---
layout: default
---
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container posts-content">
{% assign sorted_categories = site.category | sort %}
{% for category in sorted_categories %}
<h3>{{ category | first }}</h3>
<ol class="posts-list" id="{{ category[0] }}">
{% for post in category.last %}
<li class="posts-list-item">
<span class="posts-list-meta">{{ post.date | date:"%Y-%m-%d" }}</span>
<a class="posts-list-name" href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ol>
{% endfor %}
</section>
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
        </div>
    </div>
</section>
<!-- /section.content -->
