<h3 class="sidebar-title">Blog Categories</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
    <li class="list-group-item">
    <a class="jumper" hre="#{{ category[0] }}">{{ category | first }}</a>
    <span class="badge">{{ category[1].size }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#blog-categories li").css('text-transform','capitalize')

    $("a.jumper").on("click", function( e ) {

      e.preventDefault();

      $("body, html").animate({
        scrollTop: ($( $(this).attr('hre') ).offset().top - 140)
      }, 600);

      });
  });
</script>
